body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.logo {
  width: 150px;
}
.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 30px;
  margin-top: 45%;
}

.server {
  width: 70%;
}
h1,
.subhead {
  position: relative;
  z-index: 4;
}

h1 {
  font-size: 1.2em;
  color: goldenrod;
}
.subhead {
  font-size: 0.7em;
  color: black;
}

.golden-container {
  width: 100%;
  background: goldenrod;
  color: black;
  margin: 15% 0 0;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}
.golden-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: goldenrod;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}
.golden-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 50px;
  z-index: -1;
}
.golden-container ul {
  transform: skewY(2deg);
}

.golden-container ul li {
  margin-bottom: 3em;
}

.golden-container ul li p {
  padding: 0 0.5em;
}
.golden-container img {
  width: 30%;
}

.white-container img {
  width: 30%;
  border-radius: 50%;
}
.white-container {
  background: whitesmoke;
  padding: 4em 0 2em;
  margin-top: -4%;
}

.white-container ul li figure:first-child {
  margin-bottom: 3em;
}
figure {
  margin: 0;
  padding: 0;
}
blockquote {
  font-style: italic;
  font-size: small;
}
figcaption {
  color: goldenrod;
  font-weight: bold;
}

h2 {
  margin-top: 10%;
  color: goldenrod;
  font-weight: bold;
  font-size: 2em;
}
.cta {
  background: goldenrod;
  width: calc(100%-1em);
  display: block;
  color: black;
  border-radius: 20px;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  margin: 5% auto 10%;
  position: relative;
  z-index: 4;
}

footer {
  width: 100%;
  background: #3d444a;
  padding: 4em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}
.footer-container {
  transform: skewY(-2deg);
}
footer:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3d444a;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}
footer:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: -80px;
  left: 0;
  border-radius: 50px;
  z-index: -1;
}

.footer-link {
  margin: 0 auto;
}
.footer-links li {
  display: inline-block;
}
.footer-links li a {
  color: #9d9d9d;
}
nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul a {
  color: goldenrod;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(49, 55, 59);
}

nav ul a:hover {
  background-color: rgb(65, 73, 78);
}
.exit_btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}
.exit_btn img {
  width: 15px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .logo {
    width: 200px;
  }
  .server {
    width: 50%;
  }
  h1 {
    font-size: 2em;
    margin: 0;
    padding-top: 0;
  }
  .subhead {
    font-size: 1em;
    margin: 0 0 5%;
  }
  .golden-container {
    margin: 0;
  }
  .golden-container ul {
    display: flex;
    margin-top: -1em;
    align-items: center;
  }
  .golden-container ul li p {
    padding: 0 1em;
  }
  .white-container ul li {
    display: flex;
  }
}

@media only screen and (min-width: 850px) {
  .subhead {
    margin-bottom: 5%;
  }
  .server {
    width: 45%;
  }
  .cta {
    width: 70%;
  }
}
@media only screen and (min-width: 1000px) {
  .cta {
    width: 60%;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .server {
    width: 40%;
  }
  .subhead {
    margin-bottom: 1%;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    color: goldenrod;
    background: inherit;
    text-align: right;
  }
  nav ul li a:hover {
    background-color: inherit;
  }
  .scroll {
    width: 40px;
    animation: move 1s infinite alternate;
  }
  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(30px);
    }
  }
}
